*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:burlywood;
}
.header img{
    width: 18%;
    flex-direction: row;
    color: azure;
}
.h2{
    font-size: 20px;
    margin: 10px;
}
#par{
    margin: 8px;
    font-size: bold;
    font-size: 26px;
}
#par{
    margin: 8px;
    font-size: bold;
}
.track{
    margin: 8px;
    font-size:bold ;
    padding: 20px;
    width: 15rem;
    box-shadow: 0 0 10px;
    margin: 1rem;
}
.box{
    margin: 8px;
    font-size:bold ;
    color: aqua;
    text-decoration: none;
    padding: 20px;
    width: 15rem;
    box-shadow: 0 0 10px;
    margin: 1rem;
}
.container{
       color: azure;
       text-decoration: none;
       font-size: bold;
       margin: 8px;
       display: flex;
       justify-content: center;
       margin-top: 20px;
       max-width: 88rem;
}
.but{
    color: azure;
    text-decoration: none;
}
.content{
    background-color: gainsboro;
}
.city{
    margin: 8px;
    font-size: bold;
    font-size: 26px;
}
.park{
    width: 50%;
    border-radius: 0;
}